*{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	box-sizing: border-box;
}
.flex{ 
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.inner{
	max-width: 1200px;
	margin: 0 auto;
}
.container{
	width:100%;
}
.navigation{
	padding: 2% 1%;
	color:#314584;
	position:relative;
}
.logo-box{
	width: 10%;
}
.menu-box{
   width:55%;
}
.search-box{
	width:13%;
	top:10px;
}
ul{
	padding-left: 0;
}
li{
	list-style-type: none;
	padding: 0 20px;
	margin-top: 5px;
	font-weight: 600;
	letter-spacing: 1.5px;
	text-transform: capitalize;
}
.menu li:hover{
	color: #ff3946;
	background-color: #fff;
	padding:7px 10px;
	border-radius: 5px;
	margin-top: 0;
	box-shadow: 0 3px 7px 0 #aaa9a9;
	cursor: pointer;
}
.btn{
	width:100%;
	height: 40px;
	background-color: transparent;
	color:#ff3946;
	border:none;
	box-shadow: 0 3px 7px 0 #aaa9a9;
	border-radius: 5px;
	font-size: 1.1rem;
	padding: 5px;
}
.toggle{
	color:#314584;
	font-size: 35px;
	background-color: transparent;
	border:none;
	position: absolute;
	right: 0;
	top:22px;
	display: none;

}
.banner{
	padding:5% 1%;
	color:#314584;


}
.banner .box{
	width: 50%;
}
.box1{
	padding-top: 150px;
}
.box3{
	width:40%;
}
.banner-img{
	width: 100%;
}
.box h1{
	font-size: 3.5rem;
	text-transform: capitalize;
}
.box p{
	font-size: 1.2rem;
	color:#6e757a;
	padding:30px 0;
	line-height:30px;

}
.banner-image{
	width:50%;
}
.btn1{
	width: 175px;
	height: 45px;
	background-color: #ff3946;
	border:2px solid #ff3946;
	color:#fff;
	font-size: 1rem;
	border-radius:30px;
	outline:none;
}
.btn2{
	background-color:transparent;
	color:#314584;
	border:1px solid grey;
	font-weight:600;
}
.theree-section{
	color:#314584;
	padding:5% 1%;
}
.three-section .box{
	width:30%;
}
.three-section .box2{
	box-shadow: 0 5px 7px 0 #a3a2a2;
	padding:30px;
}
.three-section h2{
	font-size: 1.8rem;
	text-transform: capitalize;
	line-height: 4rem;
	font-family: verdana;
	padding-top: 50px;
	color:#314584;
}
.three-section .btn1{
	margin-top: 20px;
}
.three-section .box2 h3{
	font-size: 2rem;
	padding-top:40px;
	color:#314584;
}
.three-section .box2 p{
	font-size:1rem;
	line-height:25px;
	color:#314584;
}
.two-section{
	padding:5% 1%;
}
.two-box{
	width: 45%;
	color:#314584;
}
.box2:hover{
	background-color: #edf6ff;
}
.about{
	width: 100%;
}
.two-box h5{
	font-size: 1.2rem;
	color:#ff3946;
	text-transform: uppercase;
}
.two-box h2{
	font-size: 2.8rem;
	padding:25px 0 30px 0;
	text-transform: capitalize;
}
.two-box p{
	font-size: 1.2rem;
	line-height: 40px;
}
.redhover:hover,.redhover h3:hover,.redhover p:hover{
	
	font-color:#000;
	
	transition-delay: 0.3s;
	transition-timing-function: linear;
}
.img-box{
	width: 31%;
	margin-bottom: 20px;
}
.images p{
	text-align:center; 
	font-size:20px;
	color:red;
	text-transform: uppercase;
	padding-bottom: 30px;
}
.contact{
	margin-top: 40px;
}
.loginbox input{
margin-bottom:20px;
}
.loginbox input[type="text"]
{
border:none;
border-bottom:1px solid #fff;
background:skyblue;
outline:none;

color:#fff;
font-size:16px;
border-radius:10px;
}
.loginbox input[type="submit"]
{
border:none;
outline:none;
height:40px;
background:#fb2525;
color:#fff;
font-size:18px;
border-radius:20px;
padding:5px 20px;
}
.ema{
	width: 50%;
	height:40px;
}
.mes{
	height: 80px;
	width: 50%;
}
.loginbox p{
	font-family: sans-serif;
	font-size: 17px;
	font-weight: 500;
	color:#fb2525;
	margin-bottom: 10px;
}
.loginbox h1{
	font-family: sans-serif;
	font-size: 35px;
	font-weight: bold;
	color:#314584;
	margin-bottom: 10px;
}
footer{
	background-color: #314584;
color:#fff;
text-align:center;
padding: 5% 0 3% 0;
}
.footer-box h5{
	font-size: 1.1rem;
}


.footer-box h3{
	font-size: 2rem;
	color:#ff3946;
	padding: 20px 0;
	letter-spacing: 3px;
	text-transform: uppercase;
}
.footer-list{
	display: flex;
	justify-content: center;

}
.footer-list li{
	padding: 1rem;
	padding-top:20px;
	font-weight:500;
}
.footer-box h6{
	font-size: 1rem;
	padding-top: 20px;
	font-weight: 500;
}
.social{
	font-size: 2.7rem;
	padding: 30px 35px;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #5e88fc;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #264e86;
  display: block;
  transition: 0.3s;
  text-align: center;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-width: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}

  .box1{
  	position: absolute;
  	top:50%;
  }
.box h1{
	text-align: center;
	font-size: 40px;
}
  .box3{
  	width:100%;
  }
  .three-section{
  	margin-top:420px;
  	display: block;
  }
  .banner .box{
  	width: 100%;
  }
  .btn1{
  	margin-bottom: 20px;
  }
  .loginbox p,.loginbox h1{
  	text-align: center;
}
input[type="text"]{
	padding: 2% 5%;
	width:100%;
}

